:root {
  --color-bg: oklch(16% 0.042 190);

  --color-text: #eee;
}

/* :root {
  --color-bg: oklch(66.6% 0.042 190);

  --color-text: black;
} */

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  color-scheme: dark;

  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

h1 {
  margin-top: 0;
}

#canvas-totals {
  max-width: 20rem;
  max-height: 20rem;
}

#by-day {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(calc(300px + 2rem)), max-content)
  );
  gap: 1rem;
  /* flex-wrap: wrap; */
}

#by-day > article {
  background-color: oklch(from var(--color-bg) calc(l * 1.25) c h);
  /* margin: 1rem; */
  padding: 1rem;
  border-radius: 1rem;
  /* width: min-content; */
}

#by-day > article > div {
  position: relative;
}
